.proj1 .Main {
  color: white;
  padding: 57px 0 0 27px;
  background-image: url(../images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.proj1 .title {
  font-weight: bold;
  font-size: 39.06px;
  /* letter-spacing: -0.05em; */
}

.proj1 .items {
  margin-top: 46px;
  font-weight: normal;
  font-size: 16px;
}

.proj1 .items > li {
  padding-block: 10px;
  max-width: 370px;
}

.proj1 .items > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
