.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background: #21222a;
}

.nav-logo {
  display: flex;
  color: #61dafb;
  font-weight: bold;
  font-size: 22.2535px;
}

.nav-logo img {
  width: 60px;
  /* height: 24.47px; */
}

.nav-title {
  font-weight: 600;
  font-size: 16px;
  color: #deebf8;
}
